@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #277da1;
}

#title {
    position: fixed;
    top: 0;
    font-family: 'Pacifico', cursive;
    color: #f9c74f;
    /*  create text outline */
    font-size: 50px;
    text-shadow: 0px 5px 0px #f9844a;
}

#cardZone {
    width: 100%;
    /* height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem;
    max-height: 80%;
    overflow-y: scroll;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .7rem 1rem .7rem 1rem;
    margin: .3rem;
    margin-bottom: .8rem;
    cursor: pointer;
    transition-duration: .3s;
    text-align: center;
    background-color: #f9c74f;
    border-radius: .5rem;
    box-shadow: #f9844a 0px 10px 0px 0px;
    flex: 1 15%;
    height: 3rem;
    min-width: 15%;
    overflow: hidden;
}

.card:hover {
    transform: translateY(10px);
    box-shadow: #f9844a 0px 0px 0px 0px;
}

.card .content {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* text-overflow: ellipsis; */
}

.card .type {
    color: #c45118;
    font-size: 14px;
}

#playerZone {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    display: flex;
    max-width: 90%;
}

.player {
    margin: 0 .4rem 0 .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid pink; */
    background-color: #f9c74f;
    padding: .5rem;
    border-radius: .8rem .8rem 0 0;
    width: 8rem;
    border: solid #f9844a;
    border-bottom: none;
    /* box-shadow: rgba(0, 0, 0, 0.356) 0px 0px 5px 1px; */
    transition-duration: .3s;
    cursor: pointer;
    box-shadow: #f9844a 0px 25px 0px 0px;
}

.player.current {
    /* width: 9rem; */
    /* background-color: #aa8329; */
    transform: translateY(-15px);
    /* height: 120%; */
    border-radius: .8rem;
}

input {
    border: none;
    /* background-color: none; */
    text-align: center;
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    /* color: #863811; */
    /* font-weight: bold; */
}

.player .name {}

.player .score {}

#questionZone {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .8s;
}

.questionBorder {
    position: absolute;
    background-color: #57759050;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    backdrop-filter: blur(10px);
}

#questionInner {
    position: absolute;
    background-color: #f9c74f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border-radius: .5rem;
    border: solid #f9844a .3rem;
}

#questionTitle {
    color: #f9844a;
    position: absolute;
    top: .3rem;
    font-size: 1.6rem;
    font-family: 'Pacifico', cursive;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#questionRule {
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slide {
    position: absolute;
    color: #f9844a;
    border: solid #f9844a .3rem;
    font-size: 2rem;
    background-color: #f9c74f;
    box-shadow: #f9844a 0px 7px 0px 0px;
    transition-duration: .3s;
    cursor: pointer;
    height: 10%;
}

.slide:hover {
    box-shadow: #f9844a 0px 0px 0px 0px;
    transform: translateY(7px);
}

.previous {
    left: -100%;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    /* opacity: 0%; */
}

.next {
    right: 0;
    border-right: 0;
    border-radius: 1rem 0 0 1rem;
}

#upload {
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Pacifico', cursive;
    color: #f9c74f;
    /*  create text outline */
    font-size: 30px;
    margin: 10px;
    opacity: .2;
    transition-duration: .3s;
    /* text-shadow: 0px 5px 0px #f9844a; */
    cursor: pointer;
}

#upload:hover {
    opacity: 1;
}

#settings {
    position: fixed;
    bottom: 5px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.3;
    transition-duration: .3s;
}

#settings:hover {
    opacity: 1;
}

.settings {
    color: #c45118;
    background-color: #f9c74f;
    border: solid #f9844a .1rem;
    font-size: 2rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #f9844a 0px 5px 0px 0px;
    cursor: pointer;
    transition-duration: .3s;
}

.settings:hover {
    transform: translateY(5px);
    box-shadow: #f9844a 0px 0px 0px 0px;
}